{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://k-ruseva.eu{{ request.path }}">
    <meta name="keywords" content="Karolina Ruseva, KR Photography, {% block keywords %}{% endblock %}">
    <meta name="author" content="Karolina Ruseva">
    <title>{% block title %}Karolina Ruseva | KR Photography{% endblock %}</title>
    <meta name="description" content="Explore the captivating world through the lens of Karolina Ruseva, photographer with a passion. Immerse yourself in the artistry of KR Photography, where each image is a tale told through meticulous composition and profound visual narrative.">
    <link rel="icon" href="{% static 'images/icon_logo2.png' %}">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://k-ruseva.eu{{ request.path }}" />
    <meta property="og:title" content="KR Photography" />
    <meta property="og:description" content="Explore the captivating world through the lens of Karolina Ruseva, photographer with a passion. Immerse yourself in the artistry of KR Photography, where each image is a tale told through meticulous composition and profound visual narrative." />
    <meta property="og:image" content="https://k-ruseva.eu/static_files/images/icon_logo2.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://k-ruseva.eu{{ request.path }}" />
    <meta property="twitter:title" content="KR Photography" />
    <meta property="twitter:description" content="Explore the captivating world through the lens of Karolina Ruseva, photographer with a passion. Immerse yourself in the artistry of KR Photography, where each image is a tale told through meticulous composition and profound visual narrative." />
    <meta property="twitter:image" content="https://k-ruseva.eu/static_files/images/icon_logo2.png" />


    <script src="https://kit.fontawesome.com/0b1ca8c563.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/mky2dau.css">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <div class="left">
                <a href="{% url 'home page' %}">Home</a>
                <a href="{% url 'portfolio page' %}">Portfolio</a>
            </div>
            <a href="{% url 'home page' %}"><img src="{% static 'images/logo.png' %}" alt="logo image" /></a>
            <div class="right">
                <a href="tel:+359878367385"><i class="icon fa-solid fa-mobile-screen-button"></i></a>
                <a href="mailto:karoliaruseva@icloud.com"><i class="icon fa-regular fa-envelope"></i></a>
                <a href="https://www.instagram.com/krln.ph/" target="_blank"><i class="icon fa-brands fa-instagram"></i></a>
            </div>
        </nav>
    </header>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block page_content %}
        <h1>Couldn't find this page</h1>
    {% endblock %}
    
    <footer>
        <div class="footer-row">
            <div class="image-container"><img src="{% static 'images/logo.png' %}" alt="logo image" /></div>
            <p>FOCUS <i class="fa-solid fa-camera"></i> BOKUS</p>
            <div class="social">
                <a href="tel:+359878367385"><i class="icon fa-solid fa-mobile-screen-button"></i></a>
                <a href="mailto:karoliaruseva@icloud.com"><i class="icon fa-regular fa-envelope"></i></a>
                <a href="https://www.instagram.com/krln.ph/" target="_blank"><i class="icon fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <p>&copy;2024 KR Photography. ALL RIGHTS RESERVED</p>
        
    </footer>

    <script src="{% static 'javascript/loading.js' %}"></script>
</body>
</html>