.album-card {
    position: relative;
    cursor: pointer;
}

.album-card img {
    height: 500px;
    max-width: 300px;
    object-fit: cover;
    position: relative;
}

.album-card a::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 20%;
    position: absolute;
    bottom: 2px;
    left: 0;
    transition: 300ms;
}

.album-name {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    color: white;
    text-align: center;
}

.album-card {
    all: unset;
    position: relative;
}

@media screen and (min-width: 1000px) {
    .album-card a::after{
        height: 0;
    }

    .album-name {
        width: 100%;
        text-align: center;
        position: absolute;
        font-family: "articulat-cf", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 28px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        opacity: 0;
        transition: 300ms;
    }

    .album-card:hover .album-name {
        bottom: 35%;
        color: white;
        opacity: 100%;
    }

    .album-card:hover a::after {
        height: 100%;
    }
}