.album-card {
    position: relative;
    cursor: pointer;
}

.album-card img {
    height: 500px;
    position: relative;
}

.album-card a::after {
    content: "";
    width: 100%;
    height: 0;
    background-color: black;
    opacity: 20%;
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: 300ms;
}

.album-name {
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    color: transparent;
    transition: 300ms;
}

.album-card:hover .album-name {
    bottom: 35%;
    color: white;
}

.album-card:hover a::after {
    height: 100%;
}